<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Calorie Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    @for (meal of (meals$ | async); track meal.id) {

      <ion-item>

        <ion-label>
          <h2>{{ meal.title }}</h2>
          <p>{{ meal.date | date:'shortTime' }}</p>
        </ion-label>

        <ion-note slot="end" color="primary">
          {{ meal.calories }} kcal
        </ion-note>
      </ion-item>

    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addNewMeal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
