<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Calorie Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    @for (meal of (meals$ | async); track meal.id) {

      <ion-item-sliding [disabled]="isDesktop">
        <ion-item>

          <ion-label>
            <h2>{{ meal.title }}</h2>
            <p>{{ meal.date | date:'shortTime' }}</p>
          </ion-label>

          <ion-note slot="end" color="primary">
            {{ meal.calories }} kcal
          </ion-note>

          @if (isDesktop) {
            <ion-button
              class="desktop-delete-btn" slot="end" fill="clear" color="danger" (click)="deleteMeal(meal.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          }

        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteMeal(meal.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">

    <ion-fab-button color="tertiary" size="small" (click)="scanMeal()" style="margin-bottom: 10px;">
      <ion-icon name="sparkles"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="primary" (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
